<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Index</title>
    <style>
        * {
            font-family: Helvetica, Arial, sans-serif;
        }
        div.pic {
            font-size: 1.2em;
        }
        div a {
            padding-left: 0.5em;
        }
        div.nav {
            float: left;
            width: 100%;
            height: 100px;
        }
        img {
            padding-right: 2em;
        }
        input {
            font-size: 1em;
        }
        dt {
            font-weight: bolder;
            display: inline-block;

        }
        dd {
            display: inline-block;
            margin-left: 0;
            line-height: 1.5;
        }
        .edit {
            display: none;
        }
    </style>
</head>
<body>

<div class="nav">
    <a href="/">Back</a>
</div>

<div class="pic">

    <p>
        <a href="#" onclick="edit()">Edit</a>
    </p>
</div>

<h1>{{vehicle.name}}</h1>

<dl>
    <dt>Temperature</dt>
    <dd class="view">{{vehicle.temperature}}</dd>
    <dd class="edit"><input id="temperature" type="text" value="{{vehicle.temperature}}"></dd>
    <br>

    <dt>Tire Pressure in PSI (Front Left, Front Right, Rear Left, Rear Right )</dt>
    <dd class="view">{{vehicle.tirepressure}}</dd>
    <dd class="edit"><input id="tirepressure" type="text" value="{{vehicle.tirepressure}}"></dd>
    <br>
    <dt>Current Speed in MPH</dt>
    <dd class="view">{{vehicle.currentspeed}}</dd>
    <dd class="edit"><input id="currentspeed" type="text" value="{{vehicle.currentspeed}}"></dd>
    <br>
    <dt>Carbon Monoxide Levels in PPM</dt>
    <dd class="view">{{vehicle.carbonmonoxide}}</dd>
    <dd class="edit"><input id="carbonmonoxide" type="text" value="{{vehicle.carbonmonoxide}}"></dd>
    <br>
    <dt>Pollen Count per Cubic Meter</dt>
    <dd class="view">{{vehicle.pollencount}}</dd>
    <dd class="edit"><input id="pollencount" type="text" value="{{vehicle.pollencount}}"></dd>
    <br>
    <dt>GPS Latitude</dt>
    <dd class="view">{{vehicle.GPS.latitude}}</dd>
    <dd class="edit"><input id="latitude" type="text" value="{{vehicle.GPS.latitude}}"></dd>
    <br>
    <dt>GPS Longitude</dt>
    <dd class="view">{{vehicle.GPS.longitude}}</dd>
    <dd class="edit"><input id="longitude" type="text" value="{{vehicle.GPS.longitude}}"></dd>
    <br>
    <dt></dt>
    <dd class="edit">
        <input type="submit" value="Save" onclick="save()">
        <input type="submit" value="Cancel" onclick="cancel()">
    </dd>
</dl>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    function edit () {
        $('.view').hide()
        $('.edit').show()
    }
    function cancel () {
        $('.view').show()
        $('.edit').hide()
    }
    function save () {

        $.ajax('/{{vehicle.id}}', {
            method: 'PUT',
            data: {
                temperature: $('#temperature').val(),
                tirepressure: $('#tirepressure').val(),
                currentspeed: $('#currentspeed').val(),
                carbonmonoxide: $('#carbonmonoxide').val(),
                pollencount: $('#pollencount').val(),
                latitude: $('#latitude').val(),
                longitude: $('#longitude').val()
            },
            complete: function () {
                cancel()
                location.reload()
            }
        })
    }

</script>

</body>
</html>